.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
}

.title a {
    color: red;
    font-size: 14px;
}

.images {
    display: flex;
    justify-content: space-between;
    padding: 0px 64px;
}

.images img {
    height: 370px;
    width: 240px;
    border-radius: 8px;
    transition: 0.5s;

}

.images img:hover{
    /* FOR SCALE BELOW 1 SIZE DECREASES */
    /* transform: scale(1.1); */

    /* FOR MOVING IMAGE / ELEMENT USE TRANSLATE--> */
    /* only positive values moves img right, negative values moves img left, using x and y axis UP & DOWN  */
    transform: translatey(-20px);
}